@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 75% 5%;
    --foreground: 210 40% 98%;
    --card: 218 70% 7%;
    --card-foreground: 210 40% 98%;
    --popover: 218 70% 7%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 55% 67%;
    --primary-foreground: 214 75% 5%;
    --secondary: 217 60% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 60% 10%;
    --muted-foreground: 215 20% 55%;
    --accent: 207 55% 67%;
    --accent-foreground: 214 75% 5%;
    --border: 217 60% 12%;
    --input: 217 60% 12%;
    --ring: 207 55% 67%;
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
